.layout {
    background-color: palevioletred;
    width: 200px;
    height: 100px;
    border: 10px dotted black;
    border-radius: 20px;
}

#layout_id_02 {
    font-family: 'Noto Serif KR', serif;
    background-color: rgb(14, 36, 29);
    width: 180px;
    height: 50px;
    margin: 50px;
    padding: 50px;
    

}
.layout02 > p {
    color:white;
    font-size: 20pt;
    font-weight: 700;

}